*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.weather_content{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    text-align: left; 
    margin: 2em;
    background-color: aliceblue;
    padding: 1em;
}
.title{
    height: 7em;
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 1.5em;
}
.activate_buttons{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

#city_header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user_generated_content{
    width: 80%;
    margin: 0 auto;
}